body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  margin: 0;
  height: 100vh;
}

label,
input,
button {
  font-size: 20px;
  margin: 5px;
  padding: 5px 20px;
}

button {
  cursor: pointer;
}

form {
  margin-top: 50px;
  padding: 20px;
  border: 1px solid white;
  background-color: lab(82.41% 0 0.1);
  margin-bottom: 50px;
}

.error {
  display: none;
}

.active {
  display: flex;
  justify-self: center;
  background-color: white;
  color: red;
  border: 1px dotted red;
  padding: 5px 20px;
  width: fit-content;
  font-size: 14px;
}

.network {
  display: none;
}

.loadiing {
  display: block;
  font-size: 15px;
  margin-bottom: 50px;
}

.render {
  border: 1px solid black;
  border-radius: 50px;
  background-color: rgb(231, 230, 230);
  padding: 20px;
}

.render > div {
  margin-top: 20px;
  margin-bottom: 20px;
}

.display {
  display: grid;
  grid-template-columns: 200px 100px;
  justify-content: center;
}

.toggleBtn {
  background-color: rgb(110, 112, 224);
  color: white;
  border-radius: 50px;
  border: 1px solid rgb(0, 0, 0);
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px 15px;
}

.toggleBtn:hover {
  background-color: rgb(65, 68, 209);
}